html{
	height: 100%;
}

body{
	font-family: 'Roboto Mono', Mono;
}

.navbar-brand{
	font-weight: 400;
	padding-top: 5px;
	letter-spacing: 0px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; 
    cursor: pointer;
    font-weight: 400;
}

.navbar-brand:hover{
	letter-spacing: .5px;
	color: #000000;
}

.navbar-default{
	z-index: 1;
	background-color: #EFEFEF;
	box-shadow: 0 1px 3px rgba(80,80,80,0.1), 0 1px 2px rgba(80,80,80,0.2);
}

.navbar-default .navbar-nav li a{
	font-weight: 300;
	color: #BABABA;
	padding-left: calc(5px + .5vw);
	padding-right: calc(5px + .5vw);
}

.navbar-default .navbar-nav li a:hover{
	color: #000000;
	background-color: #d3d3d3;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
}

.navbar-right a{
	font-size: 10pt;
	letter-spacing: -.5px;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; 
    cursor: pointer; 
}

.navbar-right a:hover{
	letter-spacing: 0px;
	font-size: 10.1pt;
}

#header-logo{
	max-width: 40px;
	max-height: 40px;
}

#home-text{
	margin-top: 40%;
	text-align: center;
}

#home-text span{
	padding-left: 5px;
	padding-right: 5px;
	background-color: #222222;
	color: white;
}

.p5block{
	height: 100%;
}

#playerContainer{
	font-family: 'Roboto Mono', 'sans-serif';
	letter-spacing: -1.5px;
	margin-bottom: 7.5%;
	padding-top: 5%; 
	padding-bottom: 3%;
	color: grey; 
	background-color: #EFEFEF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.10);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

#playerContainer:hover{
	color: black;
	letter-spacing: -1px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.125), 0 3px 3px rgba(0,0,0,0.11);
}

#player{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 35px;
	width: 100%;
	height: 60px;
}

.audioPlayerImg{
	margin-left: 5%;
	max-height: 90%;
	max-width: 90%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.20);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.audioPlayerImg:hover{
	box-shadow: 0 4px 8px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.11);
}

.catalogNumber{
	font-size: calc(9px + .5vw);
	font-weight: 400;
}

.podcastArtist{
	font-size: calc(10px + .5vw);
	font-weight: 300;
}

.tracklistExpand{
	padding-left: 5%;
	font-size: calc(8px + .5vw);
	font-weight: 300;
}

#bc-iframe{
	height: 5100px;	
	width: 100%;
	border: none;
}

#navbar-releases{
	margin-bottom: 0px;
}

.mixcloud{
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
}