<% include ../partials/header.ejs %>

<div class="container">
	<div class="row ">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <a class="artistName" href="#" data-toggle="collapse" data-target="#woulg">woulg</a> </h3>
			<div class="artistContainer">	
				<div class="artistExpand collapse" id="woulg">
					<img class="artistImg" src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/18671720_1338413556242311_8945387487727758888_o.jpg?oh=da9981f31fdd07668d5c398f47af6617&oe=5A74ECAC">
					<div class="row artist-content">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.soundcloud.com/woulgmusic" target="_blank">soundcloud</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://woulg-related.bandcamp.com/" target="_blank">plugins</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.facebook.com/woulgmusic" target="_blank">facebook</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.twitter.com/gregtemp" target="_blank">twitter</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div> 

	<div class="row ">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <a class="artistName" href="#" data-toggle="collapse" data-target="#oddlogic">oddlogic</a> </h3>
			<div class="artistContainer">	
				<div class="artistExpand collapse" id="oddlogic">
					<img class="artistImg" src="http://outliertemp.weebly.com/uploads/5/6/9/4/5694647/synaesthesia-2-big-edited_1.jpg?772">
					<div class="row artist-content">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.soundcloud.com/oddlogic" target="_blank">soundcloud</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.facebook.com/oddlogic" target="_blank">facebook</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://instagram.com/agohorel" target="_blank">instagram</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.twitter.com/oddlogic" target="_blank">twitter</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>

		<div class="row ">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <a class="artistName" href="#" data-toggle="collapse" data-target="#krakaur">krakaur</a> </h3>
			<div class="artistContainer">	
				<div class="artistExpand collapse" id="krakaur">
					<img class="artistImg" src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12239730_998755520182452_8725336831274303450_n.jpg?oh=2e08fa9b64951c5564789495ac2da23d&oe=5A37B60B">
					<div class="row artist-content">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://soundcloud.com/krakaur" target="_blank">soundcloud</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.facebook.com/krakaur/" target="_blank">facebook</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.instagram.com/_krakaur/" target="_blank">instagram</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://twitter.com/_krakaur" target="_blank">twitter</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>

		<div class="row ">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <a class="artistName" href="#" data-toggle="collapse" data-target="#robotlove">robot love</a> </h3>
			<div class="artistContainer">	
				<div class="artistExpand collapse" id="robotlove">
					<div class="row artist-content">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.soundcloud.com/robotlove" target="_blank">soundcloud</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.facebook.com/lovelyrobotic/" target="_blank">facebook</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>

		<div class="row ">		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3> <a class="artistName" href="#" data-toggle="collapse" data-target="#unodatwangi">uno datwangi</a> </h3>
			<div class="artistContainer">	
				<div class="artistExpand collapse" id="unodatwangi">
					<div class="row artist-content">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://www.soundcloud.com/unodatwangi" target="_blank">soundcloud</a>
						</div>

						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<a href="https://unodatwangi.bandcamp.com/" target="_blank">bandcamp</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>

</div> <!-- END OF CONTAINER -->

<script type="text/javascript" src="main.js"></script>  
      
<% include ../partials/footer.ejs %>