<% include ../partials/header.ejs %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
	     <script id="tumblr" type="text/javascript" src="http://outlierrecordings.tumblr.com/js?start=0&num=20"></script>		
		</div>
	</div>
      
<% include ../partials/footer.ejs %>